
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    font-family: open sans;
}
h1 {
    font-size: 4.8rem;
    font-weight: 500;
    text-align: center;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2rem;
}
p{
    font-weight: lighter;
    font-size: 1.6rem;
}
/*HEADER*/
header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    background-color: #FFF;
}

nav {
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}
.logoImg {
    height: 5rem;

}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
li {
    padding: 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}
li a:link{
}
li a:hover{
    color: rgb(170, 170, 170) 
}

/*SECTION 1*/
.section1 {
    height: 550px;
    margin-top: 6rem;
    background-image: url(/images/landing.jpg);
    background-position: 0 -50px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    display: flex;
    justify-content: center;
}
.section1 div {
    max-width: 60%;
    padding-top: 20%;
   /* position: relative;
    top: 25%;*/
}
/* PROBLEMA: CON EL FLEX NO QUEDA SITUADO DONDE TOCA, POR ESO SE COLOCA VERTICALMENTE CON PADDING. CON POSITION PASA POR ENCIMA DEL HEADER AL HACER SCROL*/

.section1 div p{
    margin-top: 1.6rem;
    text-align: center;
}
/*SECTION 2*/

.section2 {
    margin: 3rem 5rem 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 h2 {
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid #00B172;
}
.section2 div {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.iconWOS {
    height: 60px;
}
.section2 article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.section2 article h3 {
    color: #00B172;
    margin-top: 1.6rem;
    text-align: center;
}
.section2 h3:hover{
    color: black;
}

.section2 article p {
    text-align: center;
    margin-top: 1em;
}
/*SECTION 3*/
.section3 {
    background-color: #00B172;
    color: #FFF;
    margin: 3rem;
    padding: 6rem;
}

.section3 h3{
    margin: 1.6rem 0;
}
.logoWhite {
    height: 7rem;
}
.mobileImg {
    height: 38rem;
}
.containerTextS3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.containerTextImg{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    grid-column-gap: 2rem;
}
@media (max-width: 600px) {
    html {
      font-size: 8px;
    }